[Unit]
Description=CE Conan
After=remote-fs.target

[Service]
Type=simple
User=root
TimeoutStartSec=infinity
WorkingDirectory=/infra
ExecStart=/infra/init/start-conan.sh
StandardOutput=syslog
StandardError=syslog
SyslogIdentifier=ce-conan

[Install]
WantedBy=multi-user.target
