[Unit]
Description=Compiler Explorer
After=remote-fs.target

[Service]
Type=simple
User=root
TimeoutStartSec=infinity
WorkingDirectory=/compiler-explorer-image
ExecStart=/compiler-explorer-image/init/start.sh
StandardOutput=syslog
StandardError=syslog
SyslogIdentifier=compiler-explorer

[Install]
WantedBy=multi-user.target
