[Unit]
Description=Compiler Explorer
After=remote-fs.target systemd-logind.service network-online.target
Wants=network-online.target
Requires=remote-fs.target

[Service]
Type=simple
User=root
TimeoutStartSec=infinity
WorkingDirectory=/infra
ExecStartPre=/usr/bin/cloud-init status --wait
ExecStart=/infra/init/start.sh
StandardOutput=journal
StandardError=journal

[Install]
WantedBy=multi-user.target
