/docker-squash
*.pyc
*.pem
*.swp
*.xz
config.json
.env
/.deploy
.nfs*
node_modules
/.mypy_cache
/.dist
/.poetry
/.venv
.pytest_cache
# uv
/.uv
/uv.lock
/lambda/uv.lock
/lambda/.build_site_packages
*.egg-info
