---
exclude: \.idea|test/remote-cases/
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.3.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
      - id: check-added-large-files
      - id: requirements-txt-fixer
      - id: mixed-line-ending
      - id: check-toml
      - id: detect-private-key
  - repo: https://github.com/psf/black
    rev: 22.6.0
    hooks:
      - id: black
  - repo: https://github.com/pre-commit/mirrors-mypy
    rev: v0.971
    hooks:
      - id: mypy
        args: [--ignore-missing-imports]
        additional_dependencies:
            - types-PyYAML==6.0.11
            - types-attrs==19.1.0
            - types-paramiko==2.11.6
            - types-pkg_resources==0.1.3
            - types-python-dateutil==2.8.19
            - types-requests==2.28.9
            - types-toml==0.10.8

  # TODO: re-enable this!
  #    - repo: https://github.com/jumanjihouse/pre-commit-hooks
  #      rev: 2.1.5
  #      hooks:
  #        - id: shellcheck
  - repo: local
    hooks:
      - id: test
        name: Run tests
        entry: make test
        language: system
        types_or: [python, shell]
        pass_filenames: false
        require_serial: true
