aws-embedded-metrics  # only needed by lambda tests really
awscli
boto3>=1.17
cachecontrol[filecache]
click
humanfriendly
jinja2
packaging
paramiko
pre-commit
pylint
pytest
python-dateutil
pyyaml
requests
