name: Ensure pre-commit hooks have been run

on: [push, pull_request]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Setup ozy for unified terraform versions etc
        run: |
          curl -sL https://raw.githubusercontent.com/aquanauts/ozy/main/conf/install.sh | bash
          echo "$HOME/.ozy/bin" >> $GITHUB_PATH
          command -v terraform
      - name: Ensure virtualenv set up for pylint
        run: make ce
      - name: Run all pre-commit hooks (except python tests)
        run: env SKIP=test .poetry/bin/poetry run pre-commit run --all
